@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Fonts: roboto, roboto mono, libre bodoni */

#flex {
    display: flex;
    justify-content: center;
}

.headerMatheus {
    background-image: url("./assets/bg-gemini.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.navMatheus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    padding: 10px 25px;
    margin-top: 25px;
    width: 70%;
    border-radius: 50px;
}

.navMatheus .menuMatheus a {
    color: black;
    text-decoration: none;
    margin: 0 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition-duration: 0.5s;
    padding: 15px;
}

.navMatheus .menuMatheus a:hover, .navMatheus .menuMatheus a.active {
    background-color: rgb(255, 209, 0);
    padding:15px;
    border-radius: 5px;
}

.navMatheus .logoMatheus img {
    width: 150px;
    margin-top: 5px;
}

.navMatheus ul
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navMatheus ul li
{
  list-style: none;
  position: relative;
  transition: 0.5s;
  display: block;
}

.navMatheus ul li ul
{
  display: none;
}

.navMatheus ul li:hover ul
{
  display: block;
  position: absolute;
  margin: 15px 0px 0px 0px;
  padding: 10px 0px 10px 0px; 

  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
}

#flex > nav > div.menuMatheus > ul > li > ul > li:first-child {
    margin-bottom:20px;
}

#flex > nav > div.menuMatheus > ul > li > ul > li > a:hover {
    background: none!important;
    opacity: 0.7;
}

/* Profile */

.usuarioMatheus {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #ffffff;
    padding: 30px;
    margin-top:13%;
    border-radius: 10px;
    border: solid #dedede 1px;
    box-shadow: 4px 3px 12px -6px rgba(0,0,0,0.83);

    font-family: 'Roboto Mono', monospace;

}

.usuarioMatheus h2 {
    margin:0px 0px 20px 0px;
    font-size: 25pt;
    font-family: 'Roboto', sans-serif;
}

/* Horário */

.caixaMatheus {
    background: #ffffff;
    padding: 30px;
    margin-top:13%;
    border-radius: 10px;
    border: solid #dedede 1px;
    box-shadow: 4px 3px 12px -6px rgba(0,0,0,0.83);
    width: 750px;

    
    color: #000000;
}

.caixaMatheus .ribbon {
    background: rgb(255, 209, 0);
    padding: 15px;
    margin: -30px -30px 0px;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    justify-content: space-around;
}

.caixaMatheus .conteudoHorario .primeiraLinha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

    border-bottom: solid #a9a9a9 1px;
    margin-top:10px;

}

.caixaMatheus .conteudoHorario .primeiraLinha span p {
    font-size: 10pt;
    font-weight: 500;
    color: rgb(255, 209, 0);
    margin-top:-5px;
}

/* Usuário */

.userMatheus {
    margin-top: 20px;
}

.userMatheus h2 {
    text-align: center;
    font-family: 'libre bodoni', serif;
    color: rgb(255, 209, 0);
    font-style:italic;
    font-size: 25pt;
    text-shadow: 2px 2px 5px #1b1a19;
}

.userMatheus input {
    width: 500px;
    height: 30px;
    border: none;
}

.userMatheus button {
    height: 32px;
    padding: 5px;
    border: none;
}


.userCaixaMatheus {
    background: #ffffff;
    padding: 30px;
    margin-top:13%;
    border-radius: 10px;
    border: solid #dedede 1px;
    box-shadow: 4px 3px 12px -6px rgba(0,0,0,0.83);
    width: 750px;

    
    color: #000000;
}

.userCaixaMatheus .userRibbon {
    background: rgb(255, 209, 0);
    padding: 15px;
    margin: -30px -30px 0px;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    justify-content: space-around;
}

.userCaixaMatheus .userConteudoHorario .userPrimeiraLinha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

    border-bottom: solid #a9a9a9 1px;
    margin-top:10px;

}

.userCaixaMatheus .userConteudoHorario .userPrimeiraLinha span p {
    font-size: 10pt;
    font-weight: 500;
    color: rgb(255, 209, 0);
    margin-top:-5px;
}

.userConteudoHorario ul {
    list-style: none;
    padding: 0px;
}