@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#flex {
    display: flex;
    justify-content: center;
}

.header {
    background-image: url("./assets/bg-gemini.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    padding: 10px 25px;
    margin-top: 25px;
    width: 70%;
    border-radius: 50px;
}

.nav .menu a {
    color: black;
    text-decoration: none;
    margin: 0 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition-duration: 0.5s;
    padding: 15px;
}

.nav .menu a:hover, .nav .menu a.active {
    background-color: rgb(255, 209, 0);
    padding:15px;
    border-radius: 5px;
}

.nav .logoPrincipal img {
    width: 150px;
    margin-top: 5px;
}

.nav ul
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav ul li
{
  list-style: none;
  position: relative;
  transition: 0.5s;
  display: block;
}

.nav ul li ul
{
  display: none;
}

.nav ul li:hover ul
{
  display: block;
  position: absolute;
  margin: 15px 0px 0px 0px;
  padding: 10px 0px 10px 0px; 

  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
}

#flex > nav > div.menu > ul > li > ul > li:first-child {
    margin-bottom:20px;
}

#flex > nav > div.menu > ul > li > ul > li > a:hover {
    background: none!important;
    opacity: 0.7;
}

/* Profile */

.usuario {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #ffffff;
    padding: 30px;
    margin-top:13%;
    border-radius: 10px;
    border: solid #dedede 1px;
    box-shadow: 4px 3px 12px -6px rgba(0,0,0,0.83);

    font-family: 'Roboto Mono', monospace;

}

.usuario h2 {
    margin:0px 0px 20px 0px;
    font-size: 25pt;
    font-family: 'Roboto', sans-serif;
}

/* Horário */

.caixaHorario {
    background: #ffffff;
    padding: 30px;
    margin-top:13%;
    border-radius: 10px;
    border: solid #dedede 1px;
    box-shadow: 4px 3px 12px -6px rgba(0,0,0,0.83);
    width: 750px;

    
    color: #000000;
}

.caixaHorario .ribbon {
    background: rgb(255, 209, 0);
    padding: 15px;
    margin: -30px -30px 0px;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    justify-content: space-around;
}

.caixaHorario .conteudoHorario .primeiraLinha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

    border-bottom: solid #a9a9a9 1px;
    margin-top:10px;

}

.caixaHorario .conteudoHorario .primeiraLinha span p {
    font-size: 10pt;
    font-weight: 500;
    color: rgb(255, 209, 0);
    margin-top:-5px;
}

/* Usuário */

.user {
    margin-top: 20px;
}

.user h2 {
    text-align: center;
    font-family: 'libre bodoni', serif;
    color: rgb(255, 209, 0);
    font-style:italic;
    font-size: 25pt;
    text-shadow: 2px 2px 5px rgb(27, 26, 25, 0.75);
}

.user input {
    width: 92%;
    height: 30px;
    border: none;
}

.user button {
    height: 32px;
    padding: 5px;
    border: none;
}


.userCaixa {
    background: #ffffff;
    padding: 30px;
    margin-top:5%;
    border-radius: 10px;
    border: solid #dedede 1px;
    box-shadow: 4px 3px 12px -6px rgba(0,0,0,0.83);
    width: 750px;

    
    color: #000000;
}

.userCaixa .userRibbon {
    background: rgb(255, 209, 0);
    padding: 15px;
    margin: -30px -30px 0px;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    justify-content: space-around;
}

.userCaixa .userConteudoHorario .userPrimeiraLinha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

    border-bottom: solid #a9a9a9 1px;
    margin-top:10px;

}

.userCaixa .userConteudoHorario .userPrimeiraLinha span p {
    font-size: 10pt;
    font-weight: 500;
    color: rgb(255, 209, 0);
    margin-top:-5px;
}

.userConteudoHorario ul {
    list-style: none;
    padding: 0px;
}

/* Dashboard / Inicial */

.caixaInicial {
    background: #ffffff;
    padding: 30px;
    margin-top:5%;
    border-radius: 10px;
    border: solid #dedede 1px;
    box-shadow: 4px 3px 12px -6px rgba(0,0,0,0.83);
    width: 750px;

    
    color: #000000;
}

.caixaInicial .ribbon {
    background: rgb(255, 209, 0);
    padding: 15px;
    margin: -30px -30px 0px;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    justify-content: space-around;
}

.caixaInicial .ribbon h2 {
    font-family: "Playwrite GB J", cursive;
    margin: auto!important;
    letter-spacing: 1.5pt;
}

.secaoInicial {
    width: 48%;
    display: inline-grid;
    text-align: justify;
    padding:5px;
}

.secaoInicial:first-child {
    border-right: dashed 1.5px #dcdcdc;
    margin-right: 2px;
}

.secaoInicial:last-child {
    margin-left: 2px;
}